<IfModule mod_headers.c> 
  Header always set X-Content-Type-Options "nosniff"
  <FilesMatch "\.(php|html)$">
    Header set X-Frame-Options "DENY"
    Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS
    Header set Content-Security-Policy "script-src 'self' 'unsafe-inline' 'unsafe-eval' vjs.zencdn.net/7.8.2/video.min.js www.googletagmanager.com/gtm.js connect.facebook.net/en_US/fbevents.js ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js kit.fontawesome.com/391f644c42.js consent.cookiebot.com/ connect.facebook.net/ explore.kerry.com/;object-src 'none'"
    Header set Referrer-Policy "no-referrer"
    Header set Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), geolocation=(), vibrate=()"
  </FilesMatch>
</IfModule>
